body, html{
  background:#000;
  background-image: url("%PUBLIC_URL%/images/fondo.jpg");
  width: 90%;
  height: 90%;
  overflow: hidden;
  font-family: "Homenaje";
  font-size: 1.5vw;
  color: white;
  margin: 0;
}

button:hover{
  cursor: pointer; 
}